iframe[title="YouTube video player"], video {
	width: 100%;
	aspect-ratio: 16/9;
	display: block;

	margin-bottom: 1em;
    margin-top: 1em;
}

audio {
	display: block;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}